@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,700;1,300&display=swap');

*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family: 'Poppins', sans-serif;
}

html {
    display: block;
    overflow: auto;
}

p {
    font-weight: normal;
}

*::before, *::after {
    box-sizing: inherit;
}

$color-1:#FFFAFB;
$color-2:#131515;
$color-3:#339989;
$color-4:#7DE2D1;
$color-5:#ED6A5A;
