@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,700;1,300&display=swap");
* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  font-family: "Poppins", sans-serif;
}

html {
  display: block;
  overflow: auto;
}

p {
  font-weight: normal;
}

*::before, *::after {
  box-sizing: inherit;
}

/* barra de navegacion */
nav {
  background-color: #131515;
  height: 60px;
}
nav .main-nav::before {
  content: "";
  display: inline-block;
  margin-top: -14px;
  margin-bottom: 11px;
  padding: 5px;
  background-image: url(/claseIMG/Logos/JournalProgramWithOutLetter.svg);
  background-size: 120px;
  width: 100px;
  height: 100px;
}

.main {
  padding: 0 1em;
  display: block;
  position: relative;
  z-index: -1;
}

#logo {
  display: block;
  margin-top: 20px;
}
#logo img {
  width: 80px;
  height: 80px;
}

.main-nav__item {
  float: right;
  list-style: none;
  margin: 10px 0.2rem;
  margin-top: 17px;
  padding: 3px 0.6em;
  font-size: 0.9rem;
}
.main-nav__item:hover {
  background-color: #7c889b42;
  border-radius: 1rem;
}
.main-nav__item a {
  text-decoration: none;
  color: #fff;
}

.main-nav__logo {
  float: left;
}

#title_main {
  display: flex;
  position: relative;
  padding: 20px 10rem;
  margin: 0 -8rem;
  color: #fff;
}
#title_main span::after {
  width: 50ch;
  font-size: 23%;
}
#title_main span::after {
  content: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse non dolores repudiandae adipisci doloribus.Omnis tenetur iure optio.";
  display: block;
  position: absolute;
  padding: 30px 1rem;
  font-weight: 350;
  margin-left: 8.5rem;
  color: #fff;
  font-size: 1.2rem;
  left: 16px;
}
#title_main span::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 200%;
  top: -100%;
  left: 0;
  transform: skew(0deg, 10deg);
  background: #131515;
  background-attachment: fixed;
  z-index: -1;
}
#title_main::after {
  content: "";
  display: block;
  width: 500px;
  height: 300px;
  margin-left: auto;
  background-size: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/claseIMG/pexels-andrea-piacquadio-3762806.jpg);
}

/* Beneficios */
.benefits_main {
  margin: 0 -1rem;
}
.benefits_main::before {
  content: "";
  display: block;
  transform: skew(0deg, 10deg);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  background-attachment: fixed;
  background: #FFFAFB;
}

.benefits {
  display: grid;
  grid-gap: 11px;
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  padding: 20px 4rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  margin: 0 1.5rem;
  list-style: none;
}
.benefits ul, .benefits h3, .benefits p {
  padding: 0;
  margin: 0;
}
.benefits p {
  letter-spacing: -0.05rem;
  line-height: 22px;
  color: #081927;
}
.benefits h3 {
  font-size: 1.4rem;
  color: #122a2e;
}

.info_card {
  background: #339989;
  margin: 0 1.2rem;
  padding: 1.7rem;
  border-radius: 7%;
  box-shadow: 0 9px 22px rgba(59, 70, 69, 0.288);
  position: relative;
  z-index: 1;
}

#MunnerCalendar div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#MunnerCalendar div .description {
  grid-column: 1/span 2;
}
#MunnerCalendar div::before {
  content: "";
  height: 80px;
  width: 80px;
  display: inline-block;
  background: url(/claseIMG/Logos/MunnerCalendar.svg);
}
#MunnerCalendar h3 {
  display: inline-block;
  margin-left: 0;
}

#footer {
  background-color: #131515;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.footer-nav li {
  display: inline-block;
  padding: 10px 1.5rem;
}
.footer-nav li a {
  text-decoration: none;
  color: #fff;
  font-size: 0.8rem;
  font-style: normal;
}

#copyright {
  float: right;
  padding-top: 10px;
  margin-right: 1rem;
  font-style: normal;
  color: #fff;
}

/*# sourceMappingURL=output.css.map */